*{padding:0;  margin:0;
box-sizing:border-box;}
html,body{
width:100vw; height:100vh;}
body{ background:black;}
.header{
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size:48px;
  text-align:center; letter-spacing:10px;
  color:rgb(100,100,100); background-color:rgb(255,127,80,0.8);
  padding: 20px 0;
}
.logo{
width:80vw;
position:fixed;
top:60%; left:50%;
transform:translate(-50%,-50%);
opacity:50%;
z-index:-1;}
.content{
  padding:24px;
  min-height:70vh;
  Color:white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size:24px;
  letter-spacing:2px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  border-radius:20px;}
ul{list-style-position:inside;}
.flexbox{
  margin:16px 0;
  display:flex;
  justify-content:space-around;
  align-items:center;}
.img-right {
  flex-direction: row-reverse;
}

.img-left {
  flex-direction: row;
}
.text{padding:0;  margin:0;
  text-align:justify;
  width:70vw;}
#start::first-letter{
  font-family:"Playfair Display", serif;
  initial-letter: 2 2;
  font-weight:bold;
  margin-right:0.5em;}
h1{
  font-family:"Playfair Display", serif;
  font-size:32px;}
.contimg{
  border:4px solid cyan;
  border-radius:20px;}
.support{
  display:flex;
  justify-content:center;
  padding:16px 0;}

@media only screen and (max-width: 768px){
    .logo{position:fixed;
	top:50%; left:50%;
	}
    .header>img{width:60vw;}
    .flexbox{display:block;}
    .contimg{
	width:150px;}
    .img-right .contimg{
	float:right;}
    .img-left .contimg{
	float:left;}
    .text{
	display:block;
	text-align:left;
	font-size:16px;
	width:auto;}
    h1{font-size:20px;
	}
}